@font-face {
  font-family: "Calibri";
  src:
    url("/src/assets/fonts/calibri.woff2") format("woff2"),
    url("/src/assets/fonts/calibri.woff") format("woff"),
    url("/src/assets/fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src:
    url("/src/assets/fonts/calibri-bold.woff2") format("woff2"),
    url("/src/assets/fonts/calibri-bold.woff") format("woff"),
    url("/src/assets/fonts/calibri-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src:
    url("/src/assets/fonts/calibri-italic.woff2") format("woff2"),
    url("/src/assets/fonts/calibri-italic.woff") format("woff"),
    url("/src/assets/fonts/calibri-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  font-family:
    "Calibri", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-calibri text-base;
  }
  body {
    @apply font-calibri text-base;
  }
  img {
    display: initial;
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }  */
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.custom-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #000;
}

.custom-checkbox:checked::after {
  content: "✓";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.page-break {
  page-break-before: always;
  break-before: always;
}

@media print {
  #pdf-content .overflow-x-auto {
    overflow-x: visible !important;
  }
  #pdf-content table {
    table-layout: fixed !important;
    width: 100% !important;
  }
  #pdf-content th,
  #pdf-content td {
    word-wrap: break-word;
    white-space: normal !important;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: none;
}

/* Barras de rolagem minimalistas */
/* Para navegadores Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 139, 139, 0.3); /* 500 com 30% opacidade */
  border-radius: 4px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(118, 118, 118, 0.5); /* 600 com 50% opacidade */
}

::-webkit-scrollbar-thumb:active {
  background: rgba(97, 97, 97, 0.7); /* 700 com 70% opacidade */
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 139, 139, 0.3) transparent;
}
